# How time series API works?

**DOCUMENTATION**

`Submission file`

https://www.kaggle.com/c/jane-street-market-prediction/overview/evaluation

In [ ]:
import janestreet
env = janestreet.make_env() # initialize the environment
iter_test = env.iter_test() # an iterator which loops over the test set

for (test_df, sample_prediction_df) in iter_test:
    sample_prediction_df.action = 0 #make your 0/1 prediction here
    env.predict(sample_prediction_df)

## Time series API description

Το input/jane-street-market-prediction/janestreet αρχείο περιέχει compiled κώδικα για το time series API.

Όταν τρέχω τον κώδικα έρχεται κάθε γραμμή του test διαδοχικά (αυτή που αντιστοιχεί στην συγκεκριμένη στιγμή) ώστε να μην υπάρχει data leakage, δληαδή το μοντέλο να μην βλέπει στο μέλλον.

Όταν κάνω submit την λύση μου, δεν τρέχει ακριβώς το ίδιο περιβάλλον, αλλά ένα με 1.000.000 γραμμές.

## Testing

In [8]:
import pandas as pd

In [1]:
import janestreet
env = janestreet.make_env() # initialize the environment
iter_test = env.iter_test() # an iterator which loops over the test set

In [11]:
counter = 1

for (test_df, sample_prediction_df) in iter_test:
    
    
    """
    
    test_df: 
    
    
    
    sample_prediction_df:
    
    """
    
    print(f"Counter: {counter}")
    counter +=1
    
    
    print(test_df)
    print(test_df.shape)
    print(type(test_df))
    
    print("-"*30)
          
          
    print(sample_prediction_df)
    print(sample_prediction_df.shape)
    print(type(sample_prediction_df))
    
          
    # Keep predictions
    # sample_prediction_df
          
    # Make prediction
    sample_prediction_df.action = 1    # make your 0/1 prediction here
    env.predict(sample_prediction_df)
    
    print("-"*100)
          
    if counter == 3:
          break

Counter: 1
   date    weight  feature_0  feature_1  feature_2  feature_3  feature_4  \
6   0.0  0.190575       -1.0  -3.172026  -3.093182  -0.030588  -0.043175

   feature_5  feature_6  feature_7  ...  feature_120  feature_121  \
6   0.097058   0.053483        NaN  ...          NaN          NaN

   feature_122  feature_123  feature_124  feature_125  feature_126  \
6     0.336873     4.076447     0.614783     6.622176     0.800618

   feature_127  feature_128  feature_129
6     5.231595     0.361506     3.921714

[1 rows x 132 columns]
(1, 132)
<class 'pandas.core.frame.DataFrame'>
------------------------------
   action
6       1
(1, 1)
<class 'pandas.core.frame.DataFrame'>
----------------------------------------------------------------------------------------------------
Counter: 2
   date    weight  feature_0  feature_1  feature_2  feature_3  feature_4  \
7   0.0  3.820844       -1.0    0.44605   -0.46621   0.498751   0.244116

   feature_5  feature_6  feature_7  ...  feature_120  feature_121  \
7   0.412528    0.22414        NaN  ...          NaN          NaN

   feature_122  feature_123  feature_124  feature_125  feature_126  \
7     2.101997     4.846202     1.479875     5.261328     2.305066

   feature_127  feature_128  feature_129
7     4.571762     2.201537     4.429745

[1 rows x 132 columns]
(1, 132)
<class 'pandas.core.frame.DataFrame'>
------------------------------
   action
7       1
(1, 1)
<class 'pandas.core.frame.DataFrame'>
----------------------------------------------------------------------------------------------------

In [9]:
test = pd.read_csv("../input/jane-street-market-prediction/example_test.csv")

In [10]:
test.iloc[:2,]

,date,weight,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,1,-1.872746,-2.191242,-0.474163,-0.323046,0.014688,-0.002484,NaN,...,NaN,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-1,-1.349537,-1.704709,0.068058,0.028432,0.193794,0.138212,NaN,...,NaN,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1

In [13]:
test[test["weight"] == 0.190575]

Empty DataFrame
Columns: [date, weight, feature_0, feature_1, feature_2, feature_3, feature_4, feature_5, feature_6, feature_7, feature_8, feature_9, feature_10, feature_11, feature_12, feature_13, feature_14, feature_15, feature_16, feature_17, feature_18, feature_19, feature_20, feature_21, feature_22, feature_23, feature_24, feature_25, feature_26, feature_27, feature_28, feature_29, feature_30, feature_31, feature_32, feature_33, feature_34, feature_35, feature_36, feature_37, feature_38, feature_39, feature_40, feature_41, feature_42, feature_43, feature_44, feature_45, feature_46, feature_47, feature_48, feature_49, feature_50, feature_51, feature_52, feature_53, feature_54, feature_55, feature_56, feature_57, feature_58, feature_59, feature_60, feature_61, feature_62, feature_63, feature_64, feature_65, feature_66, feature_67, feature_68, feature_69, feature_70, feature_71, feature_72, feature_73, feature_74, feature_75, feature_76, feature_77, feature_78, feature_79, feature_80, feature_81, feature_82, feature_83, feature_84, feature_85, feature_86, feature_87, feature_88, feature_89, feature_90, feature_91, feature_92, feature_93, feature_94, feature_95, feature_96, feature_97, ...]
Index: []

[0 rows x 133 columns]

In [ ]:
test = pd.read_csv('../input/jane-street-market-prediction/example_test.csv')
print(f'Done loading data. Test shape is {test.shape}')

In [ ]:
test.iloc[-1]

**Notes**

* **test_df** created from iter_test, has 1 columns less from **example_test.csv** (ts_id missing), but has ts_id as index.
* Ths last column of example_test it's the same with test_df

**Common Errors** 

* You must call `predict()` successfully before you can continue with `iter_test()`